<router-outlet></router-outlet>
<!--<h1>Список пользователей</h1>-->
<!--<input type="button" value="Добавить" class="btn btn-default" (click)="addUser()" />-->
<!--<table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>Id</td>-->
<!--        <td>Email</td>-->
<!--        <td>Username</td>-->
<!--        <td>Year</td>-->
<!--        <td>password</td>-->
<!--        <td>country</td>-->
<!--        <td>city</td>-->
<!--        <td>jobs</td>-->
<!--        <td>position</td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--    </tr>-->

<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: p }" (click)="selectTodo(user)" style="height: 300px">-->
<!--        <ng-template [ngTemplateOutlet]="loadTemplate(user)"-->
<!--                     [ngTemplateOutletContext]="{ $implicit: user}">-->
<!--        </ng-template>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<div>{{statusMessage}}</div>-->
<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

<!--&lt;!&ndash;шаблон для чтения&ndash;&gt;-->
<!--<ng-template #readOnlyTemplate let-user>-->
<!--    <td>{{user._id}}</td>-->
<!--    <td>{{user.email}}</td>-->
<!--    <td>{{user.username}}</td>-->
<!--    <td>{{user.year}}</td>-->
<!--    <td>{{user.password}}</td>-->
<!--    <td>{{user.country}}</td>-->
<!--    <td>{{user.city}}</td>-->
<!--    <td>{{user.jobs}}</td>-->
<!--    <td>{{user.position}}</td>-->
<!--    <td>-->
<!--        <input type="button" value="Изменить" class="btn btn-default" (click)="editUser(user)" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="button" value="Удалить" (click)="deleteUser(user)" class="btn btn-danger" />-->
<!--    </td>-->
<!--</ng-template>-->

<!--&lt;!&ndash;шаблон для редактирования&ndash;&gt;-->
<!--<ng-template #editTemplate>-->
<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser._id" disabled class="form-control" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser.email" class="form-control" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser.username" class="form-control" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="number" [(ngModel)]="editedUser.year" class="form-control" />-->
<!--    </td>-->


<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser.password" class="form-control" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser.country" class="form-control" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser.city" class="form-control" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser.jobs" class="form-control" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="text" [(ngModel)]="editedUser.position" class="form-control" />-->
<!--    </td>-->

<!--    <td>-->
<!--        <input type="button" value="Сохранить" (click)="saveUser()" class="btn btn-success" />-->
<!--    </td>-->
<!--    <td>-->
<!--        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />-->
<!--    </td>-->
<!--</ng-template>-->
