input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.main{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.filter{
    background-color: #ccc;
}
.spinner-border{
    background-color: darkcyan;
    margin: auto;
    color: darkorange;
    font-size: 32px;
    text-align: center;
}