<div class="container">
    <div class="form" >
        <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
            <div class="email" class="form-group">
                <label  style="margin-right: 48px;">email</label>
                <input type="email" class="form-control" name="email" ngModel
                       required email  id="email" placeholder="email">
            </div>

            <div class="password" class="form-group">
                <label style="margin-right: 20px;">password</label>
                <input type="password" class="form-control" ngModel required password  name="password" id="password" placeholder="password">
            </div>
            <button>submit</button>
        </form>
    </div>
</div>