<div class="container">
    <div class="form">
        <form action="">
            <div class="email">
                <label for="email" style="margin-right: 48px;">email</label>
                <input type="email" name="email" id="email" placeholder="email">
            </div>

            <div class="password">
                <label for="password" style="margin-right: 20px;">password</label>
                <input type="password" name="password" id="password" placeholder="password">
            </div>
            <button>submit</button>
        </form>
    </div>
</div>